.bx-system-auth-forgotpasswd{text-align: center}
.bx-system-auth-forgotpasswd form{display: inline-block;text-align: left}
.bx-system-auth-forgotpasswd .p{margin: 0 0 15px}
font.errortext{color: #ff0000;}
font.notetext{color: #008000;}
